# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data (опціонально, якщо не хочеш пушити дані)
data/raw/*.csv
data/processed/*.csv

# OS
.DS_Store
Thumbs.db